<section class="h-100 gradient-form" style="background-image:linear-gradient(rgba(255, 255, 225, 0.5), rgba(255, 255, 225, 0.5)), url('https://img.freepik.com/photos-gratuite/ingredients-alimentaires-italiens-delicieux-frais-appetissants-vieux-fond-bois-rustique-pret-cuisiner-accueil-italian-food-food-cooking-concept_1220-1740.jpg?t=st=1651221781~exp=1651222381~hmac=3dd8fecae3572a1d49ada6522e3189c567bce125db108715a5384b829f60bc60&w=826');">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://www.ambiance-sticker.com/images/Image/sticker-cuisine-toque-de-chef-et-moustache-ambiance-sticker-KC11119.png" style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">YummyRecette</h4>
                                </div>

                                <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                                    <p>Connectez vous à votre compte</p>

                                    <div class="form-outline mb-4">
                                        <input type="email" id="input_id" class="form-control" placeholder="toto@gmail.com" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" #mdl_email="ngModel" required/>
                                        <label class="form-label" for="input_id">Email</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="input_mdp" class="form-control" placeholder="********" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" #mdl_mdp="ngModel" required/>
                                        <label class="form-label" for="input_mdp">Mot de passe</label>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" [disabled]="mdl_email.invalid || mdl_mdp.invalid">Connexion</button>
                                        <a class="text-muted" href="#!">Mot de passe oublié ?</a>
                                    </div>

                                </form>

                                <!-- Suggestion d'inscription -->
                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2">Vous n'avez pas de compte ?</p>
                                    <a class="btn btn-outline-dark" [routerLink]="['/inscription']" routerLinkActive="router-link-active" >Créer un compte</a>
                                </div>

                            </div>
                        </div>
                        
                        <div class="col-lg-6 d-flex">
                            <div>
                                <img src="https://images.pexels.com/photos/1109197/pexels-photo-1109197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" height=100%  width="100%" style="opacity:1;">
                            </div>
                            <div style="position:absolute;bottom:0px; z-index:2;">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">Rejoignez nous !</h4>
                                    <p class="small mb-0">En vous connectant, vous bénéficierez de l'ensemble des fonctionnalités du site. Il sera possible de laisser vos avis sur les publications et de publier vos propres recettes.</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>