<div class="d-flex w-100 min-vh-100 p-3 mx-auto flex-column" style="background-image: linear-gradient(rgba(255, 255, 225, 0.5), rgba(255, 255, 225, 0.5)), url('https://img.freepik.com/photos-gratuite/ingredients-alimentaires-italiens-delicieux-frais-appetissants-vieux-fond-bois-rustique-pret-cuisiner-accueil-italian-food-food-cooking-concept_1220-1740.jpg?t=st=1651221781~exp=1651222381~hmac=3dd8fecae3572a1d49ada6522e3189c567bce125db108715a5384b829f60bc60&w=826');">
  <div class="text-center" style="margin-top: auto; margin-bottom: auto;">
    <button class="btn btn-dark" routerLink="acceuil">Continuer vers YummyRecette</button>
  </div>
</div>
